/*** General Properties ***/
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Poppins", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif; }

a {
  color: #3e4bfe; }
  a:hover {
    color: #0a0a0a; }

/*** Restyling ***/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.btn {
  padding: 1.5vh 2vw;
  font-size: .8em; }

.btn-primary {
  background-color: #3e4bfe;
  border-color: #3e4bfe;
  transition: all 0.2s ease-in-out; }
  .btn-primary:hover {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: white; }

.card {
  border: none; }

section.container, section.container-fluid {
  padding: 10vh 0vw; }

/*** Styling ***/
.mainNav {
  background-color: white; }
  .mainNav .mainNavTop {
    font-size: 0.75em;
    color: #999999;
    border-bottom: 1px solid #dbdbdb; }
    .mainNav .mainNavTop a {
      display: inline-block;
      padding: 2vh 0vw;
      color: #999999;
      transition: all 0.2s ease-in-out; }
      .mainNav .mainNavTop a:hover {
        color: black;
        text-decoration: none; }
      .mainNav .mainNavTop a svg {
        color: #0a0a0a; }
    .mainNav .mainNavTop .phone {
      border-right: 1px solid #dbdbdb; }
    .mainNav .mainNavTop .address a {
      min-width: 185px;
      border-left: 1px solid #dbdbdb; }
  .mainNav nav {
    padding: 3vh 0vw;
    font-size: 0.75em; }
    .mainNav nav img {
      max-width: 120px; }
    .mainNav nav .navbar-nav .nav-link {
      text-transform: uppercase;
      color: #777777;
      padding: 1.5vh 1.5vw;
      transition: all 0.2s ease-in-out; }
      .mainNav nav .navbar-nav .nav-link:hover {
        color: #3e4bfe; }
    .mainNav nav .navbar-nav .nav-purchase .btn {
      color: white;
      font-size: 1em;
      margin-left: 2vw; }

header {
  margin-top: 70px;
  height: 100%;
  background: url("../img/man-in-sofa.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white; }
  header .icon {
    font-size: 1.5em;
    margin-bottom: 3vh; }
  header h1 {
    font-size: 5em;
    font-weight: 700; }
  header p {
    font-size: .8em; }
  header .btn {
    margin-top: 4vh; }

section.asset .icon {
  font-size: 2.5em;
  color: #3e4bfe; }
section.asset .card-body {
  font-size: .9em;
  padding: 0px; }
section.asset h4 {
  font-size: 1.5em;
  margin-top: 1.5vh; }

section.welcome {
  padding-bottom: 0px !important;
  background-color: #f2f2f2; }
  section.welcome h2 {
    font-weight: 500; }
  section.welcome .row div {
    margin: 4vh auto; }
    section.welcome .row div:last-child {
      margin: 0 auto; }

section.your-idea {
  padding: 20vh 0vw;
  background: linear-gradient(to right, #3e4bfe 0%, #3e4bfe 50%, #0a0a0a 50.01%, #0a0a0a 100%); }
  section.your-idea .card {
    color: white;
    background-color: transparent; }
    section.your-idea .card .card-title {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 5vh; }
    section.your-idea .card .card-subtitle {
      color: #e6e6e6; }

/*# sourceMappingURL=style.css.map */