// Mixins
@import "mixins";

// Variables
@import "variables";


// Main CSS

/*** General Properties ***/

* {
  box-sizing: border-box;
}
html, body {
  width:100%;
  height: 100%;
}
body {
  font-family:$main-font;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
}
a {
  color:$custom-primary;
  &:hover{
    color:$dark-color;
  }
}

/*** Restyling ***/
.container-fluid {
  padding-right:0px;
  padding-left:0px;
}
.btn {
  padding:1.5vh 2vw;
  font-size: .8em;
}
.btn-primary {
  background-color:$custom-primary;
  border-color: $custom-primary;
  @include default-transition();
  &:hover{
    background-color: $dark-color;
    border-color: $dark-color;
    color:$light-color;
  }
}
.card {
  border:none;
}

section.container, section.container-fluid {
  padding: $default-margin-y $default-margin-x;
}

/*** Styling ***/
.mainNav {
  background-color:$bg-color-light;

  .mainNavTop {

    font-size:$navbar-font-size;
    color:$navbar-top-link-color;
    border-bottom: 1px solid $nav-border-color;
    a {
      display:inline-block;
      padding:2vh 0vw;
      color:$navbar-top-link-color;
      @include default-transition();
      &:hover {
        color:$navbar-top-link-color-hover;
        text-decoration:none;
      }

      svg {
        margin-bottom: -.1em;
        font-size: 1.5em;
        color: $dark-color;
        margin-right:.4vw;
      }

    }

    .phone {
      border-right: 1px solid $nav-border-color;
    }
    .address a {
      min-width: 185px;
      border-left: 1px solid $nav-border-color;
    }

  } // end mainNavTop

  nav {
    padding:3vh 0vw;
    font-size:$navbar-font-size;

    img {
      max-width:120px;
    }
    .navbar-nav {

      .nav-link {
        text-transform: uppercase;
        color:$navbar-link-color;
        padding:1.5vh 1.5vw;
        @include default-transition();
        &:hover {
          color:$navbar-link-color-hover;
        }
      }
      .nav-purchase .btn {
        color:$light-color;
        font-size:1em;
        margin-left: 2vw;
      }
    }
  }

}

header {
  margin-top:70px;
  height: 100%;
  background:url('../img/man-in-sofa.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color:$light-color;
  .icon {
    font-size: 1.5em;
    margin-bottom: 3vh;
  }
  h1 {
    font-size:5em;
    font-weight: 700;
  }
  p {
    font-size:.8em;
  }
  .btn {
    margin-top: 4vh;
  }
}

section.asset {

  .icon {
    font-size:2.5em;
    color:$custom-primary;
  }
  .card-body{
    font-size:.9em;
    padding:0px;
  }

  h4 {
    font-size:1.5em;
    margin-top:1.5vh;
  }

}

section.welcome {
  padding-bottom:0px !important;
  background-color: darken($bg-color-light,5%);

  h2 {
    font-weight: 500;
  }

  .row div {
    margin:4vh auto;
    &:last-child{
      margin:0 auto;
    }
  }
}

section.your-idea {
  padding: ($default-margin-y * 2) $default-margin-x;
  @include bg-fifty-fifty($custom-primary,$dark-color);

  .card {
    color:$light-color;
    background-color:transparent;
    .card-title {
      font-size:2em;
      font-weight: 600;
      margin-bottom:5vh;
    }
    .card-subtitle {
      color:darken($light-color,10%);
    }
    .btn {
      margin-top:5vh;
      border:2px solid $light-color;
      &:hover {
        background-color: $light-color;
        color:$dark-color;
      }
    }
  }
  .row {
    margin-bottom: 4vh;
    font-weight: 400;
    .progress {
      height:1.5vh;
      border-radius:0px;
    }
  }

}


@import "footer";
