// Mixins
@import "mixins";

// Variables
@import "variables";


// Main CSS

/*** General Properties ***/

* {
  box-sizing: border-box;
}
html, body {
  width:100%;
  height: 100%;
}
body {
  font-family:$main-font;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
}
a {
  color:$custom-primary;
  &:hover{
    color:$dark-color;
  }
}
hr {
  width:$default-x;
  border:1.5px solid $custom-primary;
  margin:($default-y / 1.5) auto ($default-y / 1.2);
}

/*** Restyling ***/
.container-fluid {
  padding-right:0px;
  padding-left:0px;
}
.btn {
  padding:1.5vh ($default-x / 5);
  font-size: .8em;
}
.btn-primary {
  background-color:$custom-primary;
  border-color: $custom-primary;
  @include transition();
  &:hover{
    background-color: $dark-color;
    border-color: $dark-color;
    color:$light-color;
  }
}


section.container, section.container-fluid {
  padding: $default-y 0;
}

/*** Styling ***/
.mainNav {
  background-color:$bg-color-light;

  .mainNavTop {

    font-size:$navbar-font-size;
    color:$navbar-top-link-color;
    border-bottom: 1px solid $nav-border-color;
    a {
      display:inline-block;
      padding:2vh 0vw;
      color:$navbar-top-link-color;
      @include transition();
      &:hover {
        color:$navbar-top-link-color-hover;
        text-decoration:none;
      }

      svg {
        margin-bottom: -.1em;
        font-size: 1.5em;
        color: $dark-color;
        margin-right:($default-x / 20);
      }

    }

    .phone {
      border-right: 1px solid $nav-border-color;
    }
    .address a {
      min-width: 185px;
      border-left: 1px solid $nav-border-color;
    }

  } // end mainNavTop

  nav {
    padding:3vh 0vw;
    font-size:$navbar-font-size;

    img {
      max-width:120px;
    }
    .navbar-nav {

      .nav-link {
        text-transform: uppercase;
        color:$navbar-link-color;
        padding:1.5vh 1.5vw;
        @include transition();
        &:hover {
          color:$navbar-link-color-hover;
        }
      }
      .nav-purchase .btn {
        color:$light-color;
        font-size:1em;
        margin-left: 2vw;
      }
    }
  }

}

header {
  margin-top:70px;
  height: 100%;
  background:url('../img/man-in-sofa.jpg');
  @include background-img();
  color:$light-color;
  .icon {
    font-size: 1.5em;
    margin-bottom: 3vh;
  }
  h1 {
    font-size:5em;
    font-weight: 700;
  }
  p {
    font-size:.8em;
  }
  .btn {
    margin-top: 4vh;
  }
}

section.asset {

  .icon {
    font-size:2.5em;
    color:$custom-primary;
  }
  .card {
    border:none;
  }
  .card-body{
    font-size:.9em;
    padding:0px;
  }

  h4 {
    font-size:1.5em;
    margin-top:1.5vh;
  }

}

section.welcome {
  padding-bottom:0px !important;
  background-color: darken($bg-color-light,5%);

  h2 {
    font-weight: 500;
  }

  .row div {
    margin:4vh auto;
    &:last-child{
      margin:0 auto;
    }
  }
}

section.your-idea {
  %pdn {
    padding: ($default-y * 2) ($default-x / 1.4);
    flex:1;
  }
  // @include bg-fifty-fifty($custom-primary,$dark-color);
  .col-left {
    @extend %pdn;
    background-color: $custom-primary;
  }
  .col-right {
    @extend %pdn;
    background-color: $dark-color;
  }

  .card {
    color:$light-color;
    background-color:transparent;
    border:none;
    .card-title {
      font-size:2em;
      font-weight: 600;
      margin-bottom:5vh;
    }
    .card-subtitle {
      color:darken($light-color,10%);
    }
    .btn {
      font-weight: 500;
      margin-top:5vh;
      border:2px solid $light-color;
      &:hover {
        background-color: $light-color;
        color:$dark-color;
      }
    }
  }
  .row {
    margin-bottom: 4vh;
    font-weight: 400;
    .col-right {
      .row {
        font-size:.9em;
        .col-6 {
          margin-bottom: 1vh;
        }
      }
    }
    .progress {
      height:1.5vh;
      border-radius:0px;
    }
  }

}

section.portofolio {
  padding: ($default-y * 1.5) 0;
  h3 {
    color:darken($light-color, 40%);
    font-size:1em;
  }
  h2 {
    font-weight: 600;
  }
  .card-deck {
    margin-bottom: ($default-y / 3);
  }
  .card {
    text-align: center;
    border:1px solid darken($light-color,7%);
  }
  h4 {
    color:lighten($dark-color, 20%);
    font-size:1em;
    text-transform: uppercase;
  }
  h6 {
    font-size:.9em;
    font-weight: 300;
  }
}

section.features {
  background-color: darken($bg-color-light,5%);
  h3 {
    color:darken($light-color, 50%);
    font-size:1em;
  }
  h2 {
    font-weight: 600;
  }
  .card-deck {
    margin-bottom: ($default-y / 2);
  }
  .card {
    background:transparent;
    border:none;

    svg {
      color:$custom-primary;
      font-size:3.5em;
      margin-bottom: ($default-y / 4);
    }
    h4 {
      font-size:1.2em;
    }
    .card-text {
      color:lighten($dark-color, 25%);
      font-size:.9em;
    }

  }
}

section.overview {
  background:
        linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url('../img/mountain-1.jpg');
  @include background-img();
  padding:0px;
  color:$light-color;

  %pdn {
    padding: ($default-y * 2) ($default-x / 2);
    flex:1;
  }
  .col-left {
    @extend %pdn;
    background-color: $custom-primary;

    .btn {
      font-size:.8em;
      background-color: $light-color;
      color:$dark-color;
      border-width: 2px;
      @include transition();
      &:hover{
        background-color: $dark-color;
        color:$light-color;
      }
    }
  }
  .col-center {
    @extend %pdn;

    .btn {
      background-color: transparent;
      @include transition();
      border-color: $light-color;
      border-width: 2px;
      &:hover{
        background-color: $light-color;
        color:$dark-color;
      }
    }

  }
  .col-right {
    @extend %pdn;
    background-color: $dark-color;
    border-width: 2px;
    .btn {
      &:hover{
        background-color: $light-color;
        color:$dark-color;
      }
    }
  }
  .card-title {
    font-weight:700;
    margin-bottom:($default-y / 1.2);
  }
  .card-text {
    font-weight: 300;
    font-size:.9em;
    margin-bottom:($default-y / 1.2);
  }

}

section.update {
  padding: ($default-y * 1.5) 0;
  h3 {
    color:darken($light-color, 40%);
    font-size:1em;
  }
  h2 {
    font-weight: 600;
  }
  hr {
    margin:($default-y / 3) 0;
    width:($default-x / 2);
  }
  p {
    font-weight: 300;
    font-size:.9em;
    margin-bottom:$default-y;
  }
  img {
    height:100%;
  }
  .col-right {
    padding-right: $default-x;
  }
}

section.number {
  padding: ($default-y * 1.5) 0;
  color:$light-color;
  background: url('../img/sky-with-stars.jpg');
  @include background-img();

  .card {
    background-color: transparent;
    padding:($default-mp * .7);
    border:1px solid darken($light-color,60%);
    @include transition();
    .card-top {
      font-size: 3em;
    }
    .card-body{
      padding:0;

      .card-title{
        font-size: 1.7em;
        font-weight: 700;
        margin-bottom: 0;
      }

    }
    &:hover {
      background-color: $light-color;
      color:$dark-color;
    }
  }

  h3 {
    color:darken($light-color, 20%);
    font-size:1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-weight: 600;
    margin-bottom: ($default-y / 2.5)
  }
  p {
    font-weight: 300;
    font-size:.9em;
  }
  .col-right {
    padding-right:$default-y;
  }

}

section.blog {
  padding: ($default-y * 1.5) 0;
  h3 {
    color:darken($light-color, 40%);
    font-size:1.2em;
  }
  h2 {
    font-weight: 600;
  }
}

section.partner {
  img {
    width:50px;
  }
}

@import "footer";
